body {
    padding: 10px;
}
#choice1-box, #choice2-box {
    border: solid black 2px;
    margin: 10px;
    height: 700px;
    text-align: center;
}

#choice1-art, #choice2-art {
    border: solid black 2px;
    margin: 10px;
    height: 500px;
    text-align: center;
}

h1 {
    font-size: 30pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#results {
    height: 300px;
    border: solid black 2px;
}

h3 {
    font-size: 20pt;
    text-align: center;
}

.box {
    /* width: 45%; */
    justify-content: space-between;
    display: flex;
    height: 100px;
    
}

.choice-title, .choice-score {
    margin: 1%;
    border: solid black 2px;
    width: 50%;
    text-align: center;
}