* {
  border-radius: 5px;
}

header {
  background-color: black;
}

body {
  padding: 10px;
}

#choice1-box,
#choice2-box {
  border: solid black 2px;
  margin: 10px;
  height: 700px;
  text-align: center;
}

h1 {
  font-size: 30pt;
}

h1,
.button {
  font-family: "Bruno Ace", sans-serif;
}

.button {
  margin: 20px 0px 20px 0px;
  font-weight: 600;
  color: rgb(113, 11, 11);
}

.button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}

.button:active,
.button:focus {
  outline: none;
  box-shadow: 0 0 30px white;
  transition: box-shadow 0.1s ease-in-out;
}

input {
  text-align: center;
  width: 55%;
  height: 40px;
}

#choice1-art,
#choice2-art {
  border: solid black 2px;
  margin: 10px;
  height: 500px;
  text-align: center;
}

#results {
  height: 300px;
  border: solid black 2px;
}

h3 {
  font-size: 20pt;
  text-align: center;
}

.box {
  /* width: 45%; */
  justify-content: space-between;
  display: flex;
  height: 50%;
}

.column {
  background-color: gray;
}

.column h1 {
  color: white;
}

#choice1-box,
#choice2-box {
  background: linear-gradient(45deg, #68006e, #a200ff);
}

.choice-title,
.choice-score {
  margin: 1%;
  border: solid black 2px;
  width: 50%;
  text-align: center;
}
